@media screen and (max-width: 1024px) {
    
    .col-center {
        width: 100% !important;
    }

    .filter {
        width: 100% !important;
        font-size: 14px;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

}

.col-center {
    width: 66%;
}

.spacer {
    flex: 1 1 auto;
}
