



<div class="container"  
     fxLayout
     fxLayoutAlign="center"
     fxLayoutGap.xs="0"
>
  <div class="col-left" fxFlex>
  </div>

  <div class="col-center" fxFlex="66%">
    <mat-toolbar color="primary" class="mat-elevation-z3">{{ title }}
    <span class="spacer"></span>
    <button mat-mini-fab color="accent" title="Add new RSS Feed..."><mat-icon>add</mat-icon></button>
  </mat-toolbar>
  </div>

  <div class="col-right" fxFlex>
  </div>

</div>



<div class="container"  
     fxLayout
     fxLayoutAlign="center"
     fxLayoutGap.xs="0"
>
  <div class="col-left" fxFlex>
  </div>

  <div class="col-center" fxFlex="66%">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z3">
  
      <!-- User name Definition -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>RSS Feed</mat-header-cell>
        <mat-cell *matCellDef="let row"> <a href="{{row.url}}">HD-Olimpo - The Walking Dead</a> </mat-cell>
      </ng-container>
    
      <!-- Age Definition -->
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
      </ng-container>
    
      <!-- Title Definition -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Enabled </mat-header-cell>
        <mat-cell *matCellDef="let row"> <mat-slide-toggle [checked]="row.enabled"></mat-slide-toggle> </mat-cell>
      </ng-container>
    
      <!-- Options Definition -->
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
        <mat-cell *matCellDef="let row"> <mat-icon>delete</mat-icon></mat-cell>
      </ng-container>
    
      
      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="['username', 'age', 'title', 'options']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['username', 'age', 'title', 'options']"></mat-row>
    </mat-table>
  </div>

  <div class="col-right" fxFlex>
  </div>

</div>