<div>
    <h1 mat-dialog-title>Add new RSS feed</h1>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">

            <mat-form-field required>
                <mat-label>Fill form field</mat-label>
                <input matInput [(ngModel)]="data.url" type="string" placeholder="Enter RSS feed url...">
                <mat-icon matSuffix>link</mat-icon>
            </mat-form-field>

              
            <mat-form-field>
                <input matInput [(ngModel)]="data.description" type="text" placeholder="Enter description...">
            </mat-form-field>
            
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="data" color="accent" [disabled]="validateFields()" cdkFocusInitial>Add</button>
        <button mat-raised-button (click)="close()">Cancel</button>
    </div>
</div>