<div>
    <h1 mat-dialog-title>{{ title }}</h1>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">

            <mat-form-field appearance="fill" required>
                <mat-label>RSS feed url</mat-label>
                <input matInput [(ngModel)]="data.url" 
                                type="text" 
                                placeholder="Enter RSS feed url..." 
                                (focusout)="checkUrl($event)"
                                (keyup)="urlModified()"
                                >
                <mat-icon matSuffix>link</mat-icon>
            </mat-form-field>
              
            <mat-form-field appearance="fill" required>
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="data.description" type="text" placeholder="Enter description...">
            </mat-form-field>
            <mat-spinner *ngIf="displaySpinner"></mat-spinner>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="data" [color]="getButtonColor()" [disabled]="isDisabled()">{{ confirmationButtonText }}</button>
        <button mat-raised-button (click)="close()">Cancel</button>
    </div>
</div>